<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="shortcut icon" href="../../static/images/favicon.ico" />
    <title>{% block title %}Socket Box{% endblock %}</title>
</head>
<body>

    <div class="container">

        <div class="header">
            <ul class="nav nav-pills">
                <li><a href="{% url 'index' %}"><img border="0" alt="logo" src="../../static/images/logo.png" width="30" height="30"></a></li>
                {% if user.is_authenticated %}
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Profile <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{% url 'profile' %}">Edit Profile</a></li>
                            <li><a href="{% url 'auth_logout' %}?next=/socketbox/">LogOut</a></li>
                        </ul>
                    </li>
                    <li class= "pull-right"><a href="#">Toolbox</a></li>
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Inbox <span class="badge">2</span><b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Drafts</a></li>
                            <li><a href="#">Sent Items</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Trash</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>

    {% block body_block %}
    {% endblock %}
    </div>

    <script src= "../../static/js/main.js"></script>

</body>
</html>