{% extends 'socketbox/base.html' %}

{% block title %} socketBox {% endblock %}

{% block body_block %}
    <div class= "row">
        <div class= "col-xs-12 hero-unit">
            <form class="navbar-form" role="search" action= "whatPageToSendToJUSTIN.php">
              <div class="form-group">
                <input type="text" name= "searchQueryJUSTIN" class="form-control" placeholder="ex. saw">
              </div>
              <button type="submit" name= "searchQuerySubmitJUSTIN" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>

    <div class= "row">
        <div class= "searchTerms">
        </div>
    </div>

    <div class= "row searchPullDowns">
        <ul class= "list-inline">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> tool type <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="searchHelpers"><a href="#">power tools</a></li>
                    <li class="searchHelpers"><a href="#">hand tools</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> power tools <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="searchHelpers"><a href="#">fastening</a></li>
                    <li class="searchHelpers"><a href="#">saws and cutters</a></li>
                    <li class="searchHelpers"><a href="#">drills and impact</a></li>
                    <li class="searchHelpers"><a href="#">grinders</a></li>
                    <li class="searchHelpers"><a href="#">heat guns</a></li>
                    <li class="searchHelpers"><a href="#">knockout tools</a></li>
                    <li class="searchHelpers"><a href="#">shears</a></li>
                    <li class="searchHelpers"><a href="#">routers</a></li>
                    <li class="searchHelpers"><a href="#">sanders and polishers</a></li>
                    <li class="searchHelpers"><a href="#">sprayers</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> hand tools <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="searchHelpers"><a href="#">fastening</a></li>
                    <li class="searchHelpers"><a href="#">layout</a></li>
                    <li class="searchHelpers"><a href="#">pliers</a></li>
                    <li class="searchHelpers"><a href="#">saws and cutters</a></li>
                    <li class="searchHelpers"><a href="#">screwdrivers and nutdrivers</a></li>
                    <li class="searchHelpers"><a href="#">hammers</a></li>
                    <li class="searchHelpers"><a href="#">drills</a></li>
                    <li class="searchHelpers"><a href="#">files</a></li>
                    <li class="searchHelpers"><a href="#">sanders and polishers</a></li>
                    <li class="searchHelpers"><a href="#">sprayers</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> cords <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="searchHelpers"><a href="#">corded</a></li>
                    <li class="searchHelpers"><a href="#">cordless</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> brand <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="searchHelpers"><a href="#">deWalt</a></li>
                    <li class="searchHelpers"><a href="#">Makita</a></li>
                    <li class="searchHelpers"><a href="#">Milwaukee</a></li>
                    <li class="searchHelpers"><a href="#">Black and Decker</a></li>
                    <li class="searchHelpers"><a href="#">Craftsman</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> project type <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="searchHelpers"><a href="#">wood</a></li>
                    <li class="searchHelpers"><a href="#">metal</a></li>
                    <li class="searchHelpers"><a href="#">electrical</a></li>
                    <li class="searchHelpers"><a href="#">automotive</a></li>
                    <li class="searchHelpers"><a href="#">yard</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> accessories <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="searchHelpers"><a href="#">bits</a></li>
                    <li class="searchHelpers"><a href="#">clamps</a></li>
                    <li class="searchHelpers"><a href="#">blades</a></li>
                    <li class="searchHelpers"><a href="#">supports and sawhorses</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class= "row">
        <div class="list-group">
            <a href="#" class="list-group-item"><img alt="logo" src="../../static/images/logo.png" width="30" height="30" class= "pull-left">%toolName%,%ownerName%</a>
            <a href="#" class="list-group-item"><img alt="logo" src="../../static/images/logo.png" width="30" height="30" class= "pull-left">%toolName%,%ownerName%</a>
            <a href="#" class="list-group-item"><img alt="logo" src="../../static/images/logo.png" width="30" height="30" class= "pull-left">%toolName%,%ownerName%</a>
            <a href="#" class="list-group-item"><img alt="logo" src="../../static/images/logo.png" width="30" height="30" class= "pull-left">%toolName%,%ownerName%</a>
        </div>
    </div>
{% endblock %}
