a {
	color: black;
}

div {
/*	border: 1px solid black;
    border-radius: 5px;*/
}


.navbar-form
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.hero-unit {
  background-image:url("../../static/images/hammer.png");
  background-size:cover;
  height:200px;
  /*opacity: .5;*/
  border-radius: 5px;
}

.btn-default{
	background: white;
    font: black;
    text-shadow: none;
    border-color: white;
}

.searchTerms{
	margin: 1%;
}

.btn-info{
	margin-right: 1%;
}

.searchPullDowns{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

